.item {
  border: 3px solid black;
  border-radius: 20px;
  margin: 10px auto;
  list-style: none;
  padding: 10px;
  width: 340px;
  margin: 0px;
  background-color: rgb(117, 177, 217);
  color: black;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}
